// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Confirmation h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Confirmation h2 {
  font-size: 30px;
  font-weight: bold;
}

.Confirmation h3 {
  font-size: 22px;
  font-weight: bold;
}

.button1 {
  display: inline-block;
  margin-right: 25px;
  margin-top: 40px;
}

.button2 {
  display: inline-block;
  margin-top: 40px;
}

.btn-default {
  background-color: #B0B0B0 !important;
}