// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  position: absolute;
  width: 100px;
  height: 50px;
  padding: 10px;
  background: #66CCFF;
  color: Black;
  font: 15px "Verdana";
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  border: 2px solid;
}